/crosses-zeroes/nbproject/private/
/crosses-zeroes/build/
/LoginAndRegister/nbproject/private/
/LoginAndRegister/build/
/chat/nbproject/private/
/casesimulator/nbproject/private/
/casesimulator/build/
/EagleOrTail/nbproject/private/
/EagleOrTail/build/
/EagleOrTail/dist/
/calcurator/nbproject/private/
/calcurator/build/
/calcurator/dist/
/anystupidgame/nbproject/private/
/timer/nbproject/private/
/timer/build/
/timer/dist/
/sqlinejction/nbproject/private/
/sqlinejction/build/
/uniwhapeal/nbproject/private/
/uniwhapeal/build/
/uniwhapeal/dist/