/crosses-zeroes/nbproject/private/
/crosses-zeroes/build/
/LoginAndRegister/nbproject/private/
/LoginAndRegister/build/
/chat/nbproject/private/
/casesimulator/nbproject/private/
/casesimulator/build/
/EagleOrTail/nbproject/private/
/EagleOrTail/build/
/EagleOrTail/dist/